.flotante {
    position: fixed;
    top: 20%;
    left: 5%;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    width: 90%;
    z-index: 100;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    
}





.flotante select {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5vw;
    width: 100%;
    opacity: 100%;
    z-index: 500;
    
}


.flotante label {
    
    
    position: absolute;
    z-index: 101;
    top:-8%;
    left: 0%;
    font-size: 2.5vw;
}

.posicion {
    position: absolute;
    left: 98%;
    top: -10%;
    z-index: 101;

}

.posicion2 {
   
  
    position:relative;
    top:50%; 
    left:50%;
    z-index: 101;
    

}

option {
    background-color : rgb(234, 234, 240);
    

    margin-bottom: 1%;
    
    cursor: context-menu;
}

#info {
    display: none;
}
#info2 {
    display: flex; 
    justify-content: center;
}


@media  (max-width: 400px){

    .flotante label {
        top:-5%;
    }

    .posicion {

        left: 93%; 
    }

    #info {
        display: flex; 
        justify-content: center;
    }
    #info2 {
        display: none;     
    }

    #sel {
         width: 200px; 
        size: 5;
          
    }

}


